table{
    border: 2px solid grey;
}
tr, td, th{
    border: 2px solid;
    padding: 5px;
    text-align: center;
}
th{
    background-color: teal;
    color: white;
}
.beige{
    background-color: beige;
}
td{
    background-color: lightgreen;
    width: 25px;
}